@using System.Text
@model SysIPetUI.Models.EstabelecimentosLists
@{
    ViewBag.Title = "Estabelecimentos";
}

<script type='text/javascript'>
    function loadMapScenario() {
        var map = new Microsoft.Maps.Map(document.getElementById('myMap'), {
            credentials: 'Aps_5kSQcUT8FGgG-RMhSjc71DfwtZEee7IYbz__tU1BuLRh8dyDwj2oj72aQUW_',
            mapTypeId: Microsoft.Maps.MapTypeId.road,
            zoom: 5,
            theme: new window.Microsoft.Maps.Themes.BingTheme()
        });

        // Create the infobox for the pushpin
        var infobox = null;

        function SendToScheduleService() {
            fetch('https://example.com/profile', {
                method: 'POST', // or 'PUT'
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
                .then((response) => response.json())
                .then((data) => {
                    console.log('Success:', data);
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }

        //declare addMarker function
        function addMarker(latitude, longitude, title, description, pid) {
            var marker = new Microsoft.Maps.Pushpin(new Microsoft.Maps.Location(latitude, longitude), { color: 'green' });

            infobox = new Microsoft.Maps.Infobox(marker.getLocation(), {
                visible: false,
                showPointer: false,
                showCloseButton: false,
                actions: [{
                    label: 'Handler1',
                    eventHandler: function() {
                        SendToScheduleService();
                    }
                }, {
                    label: 'Handler2',
                    eventHandler: function() {
                        alert('Handler2');
                    }
                }]
            });

            marker.metadata = {
                id: pid,
                title: title,
                description: description
            };

            console.log(marker.metadata.title);

            Microsoft.Maps.Events.addHandler(marker, 'mouseout', hideInfobox);
            Microsoft.Maps.Events.addHandler(marker, 'mouseover', showInfobox);

            infobox.setMap(map);
            map.entities.push(marker);
            marker.setOptions({ enableHoverStyle: true });
        };

        function showInfobox(e) {
            if (e.target.metadata) {
                infobox.setOptions({
                    location: e.target.getLocation(),
                    title: e.target.metadata.title,
                    description: e.target.metadata.description,
                    visible: true
                });
            }
        }

        function hideInfobox(e) {
            infobox.setOptions({ visible: false });
        }

        //add markers to map
    @if (Model.EstabelecimentosList != null)
    {
        StringBuilder s = new StringBuilder();
        foreach (var item in Model.EstabelecimentosList)
        {
            foreach (var servico in item.Servicos)
            {
                string valor;

                s.Append("- ");
                s.Append(servico.Nome);
                s.Append(" ");
                s.Append(" R$");
                s.Append(valor = servico.Valor.ToString().Length <= 2 ? (servico.Valor.ToString() + ".00") : servico.Valor.ToString());
                s.Append(@"\n");

            }

            @:addMarker(@item.Latitude, @item.Longitude, '@item.NomeCompleto', '@s.ToString()');
        }
    }


         }
</script>
<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?branch=release&callback=loadMapScenario' async defer></script>

<div class="jumbotron">
    <h2>MAP INTEGRATION</h2>
</div>

<div class="row">
    <div class="col-md-12 map">
        <div id="myMap" style="width:100%; height:610px;"></div>
    </div>
</div>  