@model SysIPetUI.Models.AgendamentoViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AgendamentoViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Agenda.ClienteId" class="control-label"></label>
                <input asp-for="Agenda.ClienteId" class="form-control" />
                <span asp-validation-for="Agenda.ClienteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Agenda.Cliente" class="control-label"></label>
                <input asp-for="Agenda.Cliente" class="form-control" />
                <span asp-validation-for="Agenda.Cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Agenda.PrestadorId" class="control-label"></label>
                <input asp-for="Agenda.PrestadorId" class="form-control" />
                <span asp-validation-for="Agenda.PrestadorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Agenda.Prestador" class="control-label"></label>
                <input asp-for="Agenda.Prestador" class="form-control" />
                <span asp-validation-for="Prestador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Agenda.Data_Agenda" class="control-label"></label>
                <input asp-for="Agenda.Data_Agenda" class="form-control" />
                <span asp-validation-for="Agenda.Data_Agenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Agenda.Data_Cancelamento" class="control-label"></label>
                <input asp-for="Agenda.Data_Cancelamento" class="form-control" />
                <span asp-validation-for="Agenda.Data_Cancelamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Agenda.Data_Cadastro" class="control-label"></label>
                <input asp-for="Agenda.Data_Cadastro" class="form-control" />
                <span asp-validation-for="Agenda.Data_Cadastro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Agenda.Servicos" class="control-label"></label>
                <input asp-for="Agenda.Servicos" class="form-control" />
                <span asp-validation-for="Agenda.Servicos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
