@{
    ViewData["Title"] = "Política de Privacidade";
}

<div class="wrapper">

    <div class="content-wrapper">

        <!-- Cabeçalho do Conteúdo da Página -->
        <div class="content-header">

            <div class="container-fluid">
                <div class="row mb-2">

                    <!-- Título -->
                    <div class="col-sm-6">
                        <h1 class="m-0">@ViewData["Title"]</h1>
                    </div>

                </div>

                <hr />

                <p>Permitir que empresas de todo Brasil se cadastrem em nossa plataforma e ofereçam serviços categorizados para os donos de pets.</p>

                <p>
                    Os usuários devem ser capazes de se cadastrar, buscar e selecionar um ou mais serviços disponíveis pelas empresas cadastradas,
                    com a visão de facilitar o cuidado com pets de maneira rápida e eficiente.
                </p>
                <p>
                    Cláusula 1ª – Das informações pessoais coletadas pelo site<br />
                    1.1. O SISTEMA IPET'S utiliza "cookies" para permitir identificação de dados e de configuração, aprimorando a experiência de seus USUÁRIOS para com o sistema.<br />
                    1.2. Além das informações pessoais fornecidas, o SISTEMA IPET'S tem a capacidade de recolher outras informações técnicas, como o navegador, o endereço IP, protocolo, dados de acesso ao sistema, hora, data, sistema operacional, a localização física do dispositivo de acesso, quando o USUÁRIO tiver optado em compartilhar sua geolocalização.<br />
                    1.3. Os dados não serão compartilhados exceto em casos nos quais seja necessário o fornecimento dos dados do USUÁRIO para entidades governamentais, judiciais, ou nos casos em que tal fornecimento seja necessário para a proteção de direitos ou segurança da plataforma do SISTEMA IPET'S ou de seus USUÁRIOS. Dessa forma, mediante a utilização de nosso sistema, o USUÁRIO expressamente autoriza o SISTEMA IPET'S a divulgar estas informações pessoais para atender aos fins acima indicados.<br />
                    1.4. Poderemos a nosso critério, fazer uso das informações armazenadas em nossos bancos de dados, para resolver quaisquer disputas, solucionar problemas, garantir os direitos do SISTEMA IPET'S, validar veracidade e consistência dos dados ou mesmo da identidade do USUÁRIO.<br />
                    1.5. As informações cedidas pelo USUÁRIO e registradas devido ao uso do SISTEMA IPET'S poderão ser utilizadas para o mapeamento de informações de mercado e formação de estatísticas. Através do cadastramento, uso e fornecimento de informações ao SISTEMA IPET'S, o USUÁRIO expressamente aceita o presente documento e as condições previstas sobre a coleta, armazenamento, processamento e uso de suas informações.<br />
                </p>

            </div>

        </div>

    </div>

</div>