@page
@using Microsoft.AspNetCore.Identity
@using SysIPetUI.Models
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IndexModel

@{
    ViewData["Title"] = "Configuração da sua conta no Sys iPet's";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<partial name="_StatusMessage" for="StatusMessage" />

<div class="row">

    <div class="col-md-6">

        <form id="profile-form" method="post">

            <!-- Card Tipo Cliente/ Prestador -->
            <div class="card elevation-2">

                <!-- Título do Card -->
                <div class="card-header">

                    <h3 class="card-title">
                        <span class="brand-text font-weight-light">
                            <b class="text-gray"><i class="fas fa-tools"></i> @ViewData["Title"]</b>
                        </span>
                    </h3>

                </div>

                <!-- Corpo do Card -->
                <div class="card-body">

                    <div class="col-md-auto">                            

                        <!-- Username -->
                        <div class="form-group">
                                
                            <label class="control-label col-md-auto">
                                <span class="brand-text font-weight-light">
                                    <b class="text-gray">Username:</b>
                                </span>
                            </label>

                            <div class="col-md-auto">                                    
                                <input asp-for="Username" class="form-control" disabled />
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            </div>

                        </div>

                        <!-- Telefone -->
                        <div class="form-group">
                                
                            <label class="control-label col-md-auto">
                                <span class="brand-text font-weight-light">
                                    <b class="text-gray">Telefone de Recuperação de Conta:</b>
                                </span>
                            </label>

                            <div class="col-md-auto">                                    
                                <input asp-for="Input.PhoneNumber" class="form-control" />
                                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                            </div>

                        </div>

                        @if (SignInManager.IsSignedIn(User))
                        {
                            <!--Obtem o usuário logado e valida o TipoUsuario-->
                            var tipoUsuario = User.GetUserId();

                            <!--Se o TipoUsuario for igual a true então exibe o Cadastro de Prestador Se Não, exibe o Cadastro de Consumidor-->
                            @if (tipoUsuario == "True")
                            {
                                <!-- Completar o Cadastro de Prestador -->
                                <div class="form-group">

                                    <label class="control-label col-md-auto">

                                        <span class="brand-text font-weight-light">                                            
                                            <b class="text-gray">Complete o Cadastro para acessar os Serviços:</b>                                            
                                        </span>                                        

                                    </label>

                                    <div class="col-md-auto">
                                        <span class="brand-text font-weight-light">
                                            <b class="text-red">*</b>
                                            <b class="text-gray">Dados Prestador:</b>
                                            <a asp-controller="Prestador" asp-action="Index">
                                                <i class="btn-tool fas fa-edit" title="Cadastre os dados do Prestador"></i>
                                            </a>
                                        </span>
                                    </div>

                                    <div class="col-md-auto">
                                        <span class="brand-text font-weight-light">
                                            <b class="text-red">*</b>
                                            <b class="text-gray">Endereço:</b>
                                            <a asp-controller="" asp-action="">
                                                <i class="btn-tool fas fa-edit" title="Cadastre seu Endereço aqui"></i>
                                            </a>
                                        </span>
                                    </div>

                                    <div class="col-md-auto">
                                        <span class="brand-text font-weight-light">
                                            <b class="text-red">*</b>
                                            <b class="text-gray">Serviços Disponíveis:</b>
                                            <a asp-controller="" asp-action="">
                                                <i class="btn-tool fas fa-edit" title="Cadastre aqui os Serviços Disponíveis"></i>
                                            </a>
                                        </span>
                                    </div>

                                </div>
                                
                            }
                            else
                            {
                                <!-- Completar o Cadastro de Cliente -->
                                <div class="form-group">

                                    <label class="control-label col-md-auto">

                                        <span class="brand-text font-weight-light">                                            
                                            <b class="text-gray">Complete o Cadastro para Agendar um Serviço:</b>                                            
                                        </span>                                                                               

                                    </label>

                                    <div class="col-md-auto">
                                        <span class="brand-text font-weight-light">
                                            <b class="text-red">*</b>
                                            <b class="text-gray">Dados Pessoais:</b>
                                            <a asp-controller="Cliente" asp-action="Index">
                                                <i class="btn-tool fas fa-edit" title="Cadastre seus Dados Pessoais aqui"></i>
                                            </a>
                                        </span>
                                    </div>

                                    <div class="col-md-auto">
                                        <span class="brand-text font-weight-light">
                                            <b class="text-red">*</b>
                                            <b class="text-gray">Endereço:</b>
                                            <a asp-controller="EnderecoCliente" asp-action="Index">
                                                <i class="btn-tool fas fa-edit" title="Cadastre seu Endereço aqui"></i>
                                            </a>
                                        </span>
                                    </div>                                    

                                    <div class="col-md-auto">

                                        <span class="brand-text font-weight-light">
                                            <b class="text-red">*</b>
                                            <b class="text-gray">Pet:</b>
                                            <a asp-controller="Pets" asp-action="Index">
                                                <i class="btn-tool fas fa-edit" title="Cadastre seu Pet aqui"></i>
                                            </a>
                                        </span>

                                        @*<button type="button"
                                            class="btn btn-tool"
                                            data-toggle="ajax-modal"
                                            data-target="#modalCadastroPet"
                                            data-url="@Url.Action("CreatePet", "Pets")">
                                            <i class="btn-tool fas fa-edit" title="Cadastre seu Pet aqui"></i>
                                        </button>*@

                                    </div>                                  

                                </div>
                                
                            }

                        }
                        else
                        {
                            RedirectToPage("Login");
                        }                                               

                    </div>

                </div>

                <div class="card-footer">
                    <button id="update-profile-button" type="submit" class="btn btn-success float-right">Save</button>
                </div>

            </div>

        </form>

    </div>

</div>

<!-- Incluir Pet -->
@*<div id="modalCadastroPet" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">

    <div class="modal-dialog" role="document">

        <!-- Partial View Load Dynamically -->
        <div id="conteudoModal" class="modal-content">
        </div>

    </div>

</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}