<!DOCTYPE html>
<html lang="pt-br">

    <head>
        @await Html.PartialAsync("_HeadPage.cshtml")
    </head>
    <body>

        @await Html.PartialAsync("_LoginPartial")

        @RenderBody()
        
        <footer>
            @await Html.PartialAsync("_FooterPage")
        </footer>

        @await RenderSectionAsync("Scripts", required: false)

    </body>   

</html>
